
//Neutral Colors
$black-normal:#232224;
$black-light:#cccccc;
$black-dark:#f7f7f7;

$white-normal:#F3F0F5;
$white-light:#FBF8FC;
$white-dark:#EDEAEF;
//auxiliary colors

$red-light:#F05454;
$green-light:#50E170;
$yellow-light:#FFD76B;

